body {
	padding-top: 80px;
}

.row{
	padding-top: 30px;
}

.prefooter {
	width : 100%;
	background-color : #ace5ee;
	margin-top : 40px;
	height : 10px;
}

.footer{
	width : 100%;
	background-color : #b2beb5;
	height : 150px
	bottom: 0;
    position: relative;
}

.videobase {
	padding-top: 25px;
	padding-bottom: 25px;
}

h4 {
	font-size: 140%;
	text-align: center
}

.btn {
	margin-left:8px;
	margin-right:8px;
	border-color:#545454;
}

.btn.btn-success.btn-md {
	color :#FFFFFF;
	background-color: #00cc00;
	border-color:#00cc00;
	padding-left:10px;
}

.navbar-default .navbar-brand{
	font-size:150%;
}
.navbar-default {
	font-size:125%;
}
