<!DOCTYPE html>
<html lang="fr">
 	<head>
 		<title>
			Veryphone
  		</title>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link href="Bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
  	<link href="erreur404.css" rel="stylesheet">
  	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  	<link rel="shortcut icon" href="favicon.ico"/> 
 	</head>

 	<body>
 		<div class="texta404">
 			<i class="fa fa-exclamation-triangle"></i>
 			Erreur 404 : Not Found</br>
 			La page demandée n'est pas accessible !!</br>
			Cliquez sur la photo pour essayer de revenir sur la Home(r) Page !</br>
			<i class="fa fa-arrow-circle-down fa-1x"></i>
			<i class="fa fa-arrow-circle-down fa-1x"></i>
			<i class="fa fa-arrow-circle-down fa-1x"></i>
 		</div>
		<div class="homerpic">
			<a href="/"><img src="Images/homer404.gif" alt="Tilt" height="40%" width="40%"></a>
		</div>	
		<div class="textb404">
		 	HHHUUUUMMM, DONUTS !!!</br>
		 	Homer J. Simpson
		</div>	 		
 		<p class="conseil">
 			Verifiez votre connexion, redemarrez tout ce que vous pouvez, reessayez. Si ça ne marche toujours pas, nous sommes sûrement en train de travailler dessus, donc soyez patient :)
 		</p>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="Bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>