<!DOCTYPE html>
<html lang="fr">
 	<head>
 		<title>
			Veryphone
  		</title>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link href="Bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
  	<link href="inscription.css" rel="stylesheet">
  	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  	<link rel="shortcut icon" href="favicon.ico"/> 
 	</head>
	<body>
		<% include navbar %>
		<div class="container">
			<div class="jumbotron text-center">
				<h1>Rejoignez la communauté</h1>
				<p>BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB</p>
			</div>
		</div> 

		<div class="container">
			<div class="row">
				<div class="col-md-8">
		  			<h2>Inscription</h2>
		 			<form role="form">
		 				<div class="row">
		 					<div class="col-md-6">
				 				<div class="form-group">
				      				<label for="nom">Nom</label>
				      				<input type="text" class="form-control" id="nom" placeholder="Nom" onkeyup="getVals(this, 'text')">
				    			</div>
				    		</div>	
				    		<div class="col-md-6">	
				    			<div class="form-group">
				      				<label for="prenom">Prénom</label>
				      				<input type="text" class="form-control" id="prenom" placeholder="Prénom" onkeyup="getVals(this, 'text')">
				    			</div>
				    		</div>	
			    		</div>	
		    			<div class="form-group">
		      				<label for="email">Adresse électronique</label>
		      				<input type="text" class="form-control" id="email" placeholder="Email" onkeyup="getVals(this, 'text')">
		    			</div>
		    			<div class="form-group">
		      				<label for="pwd">Mot de passe</label>
		      			<input type="text" class="form-control" id="pwd" placeholder="Mot de passe" onkeyup="getVals(this, 'text')">
		    			</div>
		    			<div class="form-group">
		      				<label for="pwdtest">Confirmez votre mot de passe</label>
		      			<input type="text" class="form-control" id="pwdtest" placeholder="Mot de passe" onkeyup="getVals(this, 'text')">
		    			</div>
		   				<div class="checkbox">
		     				<label><input type="checkbox">Rester connecté</label>
		    			</div>
		    			<button type="submit" id="send" class="btn btn-default">Envoyer</button>
		  			</form>
		  		</div>
		  		<div class="col-md-4">
		  		fefefe
		  		</div>
		  	</div>	
		</div>

		
		<div class="prefooter">
		</div>

		<div class="footer" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						A propos</br></br>
						Mentions Légales</br>
						Politique de confidentialité
					</div>
					<div class="col-md-2">
						Aide</br></br>
						Plan du site</br>
						Aide à l'installation
						Contact

					</div>
					<div class="col-md-5">
						Veryphone Inc 2015</br>
						<i class="fa fa-copyright">Tous droits reservés</i>
					</div>
					<div class="col-md-3">
						Social</br></br>
						Suivez-nous sur </br>
						<a href="#">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x "></i>
								<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						<a href="#">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-twitter fa-stack-1x fa-inverse "></i>
							</span>
						</a>
						<a href="#">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-youtube fa-stack-1x fa-inverse "></i>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="Bootstrap/js/bootstrap.min.js"></script>
		<script src="inscription.js"></script>
	</body>
</html>