body {
	padding-top:80px;
}

.btn {
	margin-left:8px;
	margin-right:8px;
	border-color:#545454;
}

.btn.btn-success.btn-md {
	color :#FFFFFF;
	background-color: #00cc00;
	border-color:#00cc00;
	padding-left:10px;
}

.navbar-default .navbar-brand{
	font-size:150%;
}
.navbar-default {
	font-size:125%;
}
